doctype html
html
  head
    block head
      meta(charset="utf-8")
      title Reddit-reader
      base(href="http://racc-oo-n.github.io/reddit-reader/")
      link(href="public/css/app.css", rel="stylesheet")
      link(rel="shortcut icon", href="public/img/icon.gif")
  body
    .container
      block header
        include header.jade
        include nav.jade
      block content
      block footer
        include footer.jade

    script(src="public/js/reddit.min.js")
    script(src="public/js/page.js")
    script(src="public/js/app.js")
