nav.navbar.navbar-default
  .container-fluid
    ul.nav.navbar-nav
      li: a(href="#hot") горячее
      li: a(href="#new") новое
      li: a(href="#rising") набирающие популярность
      li: a(href="#controversial") спорное
      li: a(href="#top") рейтинговое
